@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400);

:root {
  --main-bg-color: brown;
  --neck-height: 960px;
  --neck-width: 280px;
  --neck-color: #211f1d;
  --dot-color: #755628;
  --note-color: #7C0A02;
  --string-color: #A9A9A9;
  --fret-color: #663330;
  --fret-spacing: 75px;
  --string-step: 37px;
  --string-offset: -8px;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  background: #eee;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.05em;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
}
/* set pixel dimensions here and keep strings/frets/dots relative */
.guitar-neck {
  position: relative;
  margin-top: 40px;
  left: 50%;
  margin-left: -450px;
  width: var(--neck-width);
  height: var(--neck-height);
  background: var(--neck-color);
  box-shadow: inset -1px 0px 11px 0px rgba(0, 0, 0, 0.75);
}
.guitar-neck .open-notes {
  position: relative;
  bottom: 102.5%;
  left: 0;
}
.guitar-neck .open-notes li {
  display: inline-block;
  padding-left: 27px;
  /*right: 100px;*/
  font-size: 18px;
  color: #000;
}
/*.guitar-neck .open-notes li.active {
  color: #fa990f;
}*/
.guitar-neck .fret {
  float: left;
  width: 100%;
  height: 3px;
  background: var(--fret-color);
  margin-bottom: var(--fret-spacing);
  border-top: 2px solid #686868;
}
.guitar-neck .fret.first {
  position: absolute;
  /*width: -52px;*/
  left: 0px;
  top: 0;
  margin-bottom: 0;
  background: var(--dot-color);
}
.guitar-neck .dots {
  position: absolute;
  /*width: 642px;*/
  height: 20px;
  top: 19.5%;
  left: 50%;
}
.guitar-neck .dots li {
  float: bottom;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #383530;
  margin-bottom: 140px;
}
.guitar-neck .strings {
  position: absolute;
  left: var(--string-offset);
  top: 3px;
  width: 100%;
  height: 100%;
}
.guitar-neck .strings li {
  height: 100%;
  display: inline-block;
  width: 6px;
  background: var(--string-color);
  margin-left: var(--string-step);
  border-bottom: 2px solid #958963;
  box-sizing: border-box;
}
.guitar-neck .strings li:nth-child(2) {
  width: 5px;
}
.guitar-neck .strings li:nth-child(3) {
  width: 4px;
}
.guitar-neck .strings li:nth-child(4) {
  width: 3px;
}
.guitar-neck .strings li:nth-child(5) {
  width: 2px;
}
.guitar-neck .strings li:nth-child(6) {
  width: 1px;
}
.guitar-neck .notes {
  position: absolute;
  left: var(--string-offset); /* how offset it is from neck */
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.guitar-neck .notes .mask {
  position: absolute;
  /*margin-left: var(--string-step);*/
  /*left: var(--string-offset);*/  /* how offset it is from the note*/
  top: 0;
  width: 30px;
  height: 1184px;
}
.guitar-neck .notes .mask ul {
  position: relative;
  float: top;
  left: 25%;
  top: -.5%;
  margin-top: 35px; /* how far below top fret */
}
.guitar-neck .notes .mask ul li {
  float: top;
  width: 30px;
  height: 30px;
  /*left: 20%;*/
  margin-bottom: 50px; /* controls fret distance of notes (different scale???)*/
  margin-left: 50%;
  background: var(--note-color);
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.guitar-neck .notes .mask.a {
  left: 16%;
}
.guitar-neck .notes .mask.d {
  left: 32%;
}
.guitar-neck .notes .mask.g {
  left: 48%;
}
.guitar-neck .notes .mask.b {
  left: 64%;
}
.guitar-neck .notes .mask.high-e {
  left: 80%;
}
/*.controls {
  position: relative;
  margin-top: 40px;
  left: 50%;
  margin-left: -380px;
  width: 760px;
  height: 300px;
  text-align: center;
  color: #333;
}
.controls a {
  text-decoration: none;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  margin-right: 40px;
}
.controls a.down {
  margin-right: 0;
}
.controls h2 {
  text-transform: uppercase;
  margin: 40px 0;
}
.controls ul li {
  float: left;
  width: 40px;
  height: 20px;
  background: #333;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
}
.controls ul li:last-child {
  margin-right: 0;
}*/