@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
/* should be 80 - note-height for now */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}
body {
  /*background: #696969;*/
  background: #F1F4F7;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.05em;
  color: #8c8c8e;
  padding: 20px;
  height: 100%;
  overflow: auto;
  position: relative;
  margin: 0;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}
h1 {
  text-transform: uppercase;
  text-align: left;
  margin-top: 40px;
  margin-left: 45%;
  color: #758A9A;
  margin-bottom: 3%;
}
.container {
  padding-top: 12px;
  display: inline-block;
  float: left;
  margin-left: 40%;
}
/* set pixel dimensions here and keep strings/frets/dots relative */
.guitar-neck {
  position: relative;
  margin-top: 40px;
  left: 50%;
  margin-left: -450px;
  width: 280px;
  height: 960px;
  background: #211f1d;
  box-shadow: inset -1px 0px 11px 0px rgba(0, 0, 0, 0.75);
  display: inline-block;
  float: left;
}
.guitar-neck .open-notes {
  position: relative;
  bottom: 102.5%;
  left: 0;
}
.guitar-neck .open-notes li {
  display: inline-block;
  padding-left: 27px;
  /*right: 100px;*/
  font-size: 18px;
  color: #000;
}
/*.guitar-neck .open-notes li.active {
  color: #fa990f;
}*/
.guitar-neck .fret {
  float: left;
  width: 100%;
  height: 3px;
  background: #663330;
  margin-bottom: 75px;
  border-top: 2px solid #686868;
}
.guitar-neck .fret.first {
  position: absolute;
  /*width: -52px;*/
  left: 0px;
  top: 0;
  margin-bottom: 0;
  background: #755628;
}
.guitar-neck .dots {
  position: absolute;
  /*width: 642px;*/
  height: 20px;
  top: 19.5%;
  left: 50%;
}
.guitar-neck .dots li {
  float: bottom;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #383530;
  margin-bottom: 140px;
}
.guitar-neck .strings {
  position: absolute;
  left: -8px;
  top: 3px;
  width: 100%;
  height: 100%;
}
.guitar-neck .strings li {
  height: 100%;
  display: inline-block;
  width: 6px;
  background: #A9A9A9;
  margin-left: 37px;
  border-bottom: 2px solid #958963;
  box-sizing: border-box;
}
.guitar-neck .strings li:nth-child(2) {
  width: 5px;
}
.guitar-neck .strings li:nth-child(3) {
  width: 4px;
}
.guitar-neck .strings li:nth-child(4) {
  width: 3px;
}
.guitar-neck .strings li:nth-child(5) {
  width: 2px;
}
.guitar-neck .strings li:nth-child(6) {
  width: 1px;
}
.guitar-neck .notes {
  position: absolute;
  left: -8px;
  /* how offset it is from neck */
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.guitar-neck .notes .mask {
  position: absolute;
  /*margin-left: @string-step;*/
  /*left: @string-offset;*/
  /* how offset it is from the note*/
  top: 0;
  width: 30px;
  height: 1184px;
}
.guitar-neck .notes .mask ul {
  position: relative;
  float: top;
  left: 40%;
  /* how offset it is from the note*/
  top: -0.5%;
  margin-top: 35px;
  /* how far below top fret */
}
.guitar-neck .notes .mask ul li {
  float: top;
  width: 28px;
  height: 28px;
  /*left: 20%;*/
  margin-bottom: 52px;
  /* controls fret distance of notes (in addition to note height)*/
  margin-left: 50%;
  background: #7C0A02;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.guitar-neck .notes .mask.a {
  left: 16%;
}
.guitar-neck .notes .mask.d {
  left: 32%;
}
.guitar-neck .notes .mask.g {
  left: 48%;
}
.guitar-neck .notes .mask.b {
  left: 64%;
}
.guitar-neck .notes .mask.high-e {
  left: 80%;
}
/* here is the tabs */
section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}
section p#description {
  margin-right: 10%;
  margin-top: 10px;
}
section h4 {
  margin-top: 2%;
}
section .play-bar-wrapper {
  border: 1px solid #ccc;
  margin-bottom: 12px;
  background: #f7f7f7;
  margin-top: 2%;
  margin-right: 15%;
}
section .play-bar-wrapper #play-bar {
  height: 20px;
  background: #33C3F0;
  width: 0%;
}
section p#wrapper {
  margin-top: 1%;
}
section p#wrapper input#test {
  width: 200px;
}
section p#select-file {
  margin-top: 1%;
}
section p#select-file input#test {
  width: 200px;
}
label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}
label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}
label[for*='1']:before {
  content: '\f1cb';
}
label[for*='2']:before {
  content: '\f17d';
}
label:hover {
  color: #888;
  cursor: pointer;
}
input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
  display: block;
}
@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
input,
textarea,
select,
option {
  border: 1px dashed #43657d;
  background: rgba(67, 101, 125, 0.2);
  padding: 5px 12px;
  border-radius: 3px;
  outline: none;
  color: #8c8c8e;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
input::placeholder,
textarea::placeholder,
select::placeholder,
option::placeholder {
  color: rgba(255, 255, 255, 0.2);
  font-family: 'PT Mono', monospace;
  font-size: 68%;
  letter-spacing: 1px;
}
input:disabled,
textarea:disabled,
select:disabled,
option:disabled {
  border-color: rgba(0, 0, 0, 0.2);
  background: rgba(67, 101, 125, 0.1);
  cursor: default;
  color: rgba(255, 255, 255, 0.2);
}
input:disabled::placeholder,
textarea:disabled::placeholder,
select:disabled::placeholder,
option:disabled::placeholder {
  color: rgba(255, 255, 255, 0.1);
}
input[type=file],
textarea[type=file],
select[type=file],
option[type=file] {
  border: none;
}
textarea {
  min-height: 200px;
  position: relative;
}
textarea::placeholder {
  position: absolute;
  bottom: 5px;
  left: 12px;
}
.CodeMirror {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  line-height: 1.3;
  height: 500px;
}
.CodeMirror-linenumbers {
  padding: 0 8px;
}
/*.controls {
  position: relative;
  margin-top: 40px;
  left: 50%;
  margin-left: -380px;
  width: 760px;
  height: 300px;
  text-align: center;
  color: #333;
}
.controls a {
  text-decoration: none;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  margin-right: 40px;
}
.controls a.down {
  margin-right: 0;
}
.controls h2 {
  text-transform: uppercase;
  margin: 40px 0;
}
.controls ul li {
  float: left;
  width: 40px;
  height: 20px;
  background: #333;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
}
.controls ul li:last-child {
  margin-right: 0;
}*/
