<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <!-- <title>Guitar Fretboard Visualization</title> -->
    <link rel="stylesheet" href="static/css/style_guitar.css">
    {% if title %}
    <title>{{ title }} - Guitar</title>
    {% else %}
    <title>Welcome to Guitar</title>
    {% endif %}
</head>

<body>
  <h1>Guitar Fretboard Visualization (adapted from Miguel Grinberg, midi-player-js, codepen.io)</h1>
    <div class="guitar-neck">
        <div class="fret first"></div>
        <div class="fret"></div>
        <div class="fret"></div>
        <div class="fret"></div>
        <div class="fret"></div>
        <div class="fret"></div>
        <div class="fret"></div>
        <div class="fret"></div>
        <div class="fret"></div>
        <div class="fret"></div>
        <div class="fret"></div>
        <div class="fret"></div>
        <div class="fret"></div>    

        <ul class="dots">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul class="strings">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <ul class="open-notes">
            <li class="high-e">E2</li>
            <li class="b">B</li>
            <li class="g">G</li>
            <li class="d">D</li>
            <li class="a">A</li>
            <li class="low-e">E1</li>
        </ul>
        <div class="notes">
            <div class="mask low-e"><ul></ul></div>
            <div class="mask a"><ul></ul></div>
            <div class="mask d"><ul></ul></div>
            <div class="mask g"><ul></ul></div>
            <div class="mask b"><ul></ul></div>
            <div class="mask high-e"><ul></ul></div>

        </div>
    </div>

<!--     <div class="controls">
        <a class="up" href="#">Tune 1/2 Step Up</a>
        <a class="down" href="#">Tune 1/2 Step Down</a>

        <h2>Choose note to show:</h2>
        <ul>
            <li>All</li>
            <li>1.1</li>
            <li>2.2</li>
            <li>3.5</li>
            <li>4.7</li>
            <li>C#</li>
            <li>D</li>
            <li>D#</li>
            <li>E</li>
            <li>F</li>
            <li>F#</li>
            <li>G</li>
            <li>G#</li>
        </ul>
    </div> -->


<!-- // abbreviated version
    <h4>Choose a Midi File</h4>
    <p id="select-file">
        <input type="file" onchange="loadFile()" onclick="Player.stop()" />
    </p>
    <p id="loading">Loading soundfont...</p>
    <div style="border:1px solid #ccc;margin-bottom:12px;background:#f7f7f7;">
        <div id="play-bar" style="height:20px;background:#33C3F0;width:0%;"></div>
    </div>
    <p>
        <button class="button button-primary" id="play-button" onclick="Player.isPlaying() ? pause() : play();" disabled="disabled">Play</button>
        <button class="button" onclick="stop()">Stop</button>
    </p> -->

<!-- TODO: integrate this into the app -->
     <div class="container" style="padding-top:12px;">
            <div class="row">
                <div class="twelve columns">
                    <h1>&#9836; MidiPlayerJS</h1>
                    <p>MidiPlayerJS is a javascript library which triggers events in sequence with a given MIDI file.  This MIDI player was built using <a href="https://github.com/grimmdude/MidiPlayerJS">MidiPlayerJS</a> to read the file, and <a href="https://github.com/danigb/soundfont-player">soundfont-player</a> to load and play the sounds.</p>
                    <h4>Choose a Midi File</h4>
                    <p id="select-file">
                        <input type="file" onchange="loadFile()" onclick="Player.stop()" />
                    </p>
                    <p id="loading">Loading soundfont...</p>
                    <div style="border:1px solid #ccc;margin-bottom:12px;background:#f7f7f7;">
                        <div id="play-bar" style="height:20px;background:#33C3F0;width:0%;"></div>
                    </div>
                    <p>
                        <button class="button button-primary" id="play-button" onclick="Player.isPlaying() ? pause() : play();" disabled="disabled">Play</button>
                        <button class="button" onclick="stop()">Stop</button>
                    </p>
                    
                    <h4>Tempo</h4>
                    <p>
                        <input id="test" type="range" min="50" max="200" value="100" onchange="changeTempo(this.value)" style="width:200px;" />
                    </p>
                    <hr />
                    <p>
                        Tempo: <span id="tempo-display"></span> bpm<br />
                        <input type="range" onchange="Player.pause();Player.setTempo(this.value);Player.play()" min="50" max="200">
                        <br />
                        MIDI File Format: <span id="file-format-display"></span>
                    </p>
                    <div id="events" class="well"></div>
                    <p>By <a href="gollub.me">Jacob Gollub</a></p>
                </div>
            </div>
        </div> 

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="../static/lib/midiplayer.min.js"></script>
    <script src="../static/lib/soundfont-player.min.js"></script>
    <script src="../static/lib/app.js"></script>
    <script src="../static/js/index_guitar.js"></script>
    <script>
        var sequence = [{{ ', '.join(sequence) }}];
        console.log('hi hi', sequence);
    </script>
</body>

<!-- <script>
    var sequence = ['{{ sequence[0] }}', '{{ sequence[1] }}'];
    var sequence = [{{ ', '.join(sequence) }}];
    var FILE_PATH = "../../../cheryl.mid"
    var i = 0; // gets length
    {% for item in sequence %}
        i = i + 1;
    {% endfor %}
    sequence.length = i;
    var audioPlayer; //audio player
    var midiParser = createMidiParser(); //midi parser
    midiParser.loadFile(FILE_PATH);
    midiParser.play();
    loadsong();
    play();
    alert(sequence.length);
</script> -->

<!-- {{sequence[0] | safe}}-->
</html>